<!DOCTYPE html>

@using ScheduleAPI.Models.Exceptions.View

@model ErrorModel
@{
    Layout = null;
}

<html>
    <head>
        <meta charset="utf-8" />
        <title>Ошибка (@Model.ErrorCode) — ScheduleAPI</title>

        <link rel="stylesheet" href="~/content/css/shared/error.css" />
        <script src="~/content/js/error.js"></script>
    </head>

    <body onload="onLoaded()">
        <div class="error-content">
            <div class="error-header">
                <p>ID: @Model.RequestID</p>
                <p>Code: @Convert.ToInt32(Model.ErrorCode) @Model.ErrorCode</p>
            </div>

            <div class="error-message">
                Overview:
                <p>
                    @Model.Message
                </p>
                <p>
                    You will be returned to the main page in 30 seconds.
                </p>
            </div>
        </div>
    </body>
</html>
